@keyframes spin {
  1% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 100px;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}