:root {
  --brand: #ea5455;
  --main: #161e2e;
  --secondary: #252f3f;
  --interaction: #65696f;

  color: white;
}

body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background-color: var(--main)
}

#root {
  background-color: var(--main);
  min-height: 95vh;
  width: -webkit-fill-available;
}

#__next {
  display: flex;
  flex-wrap: wrap;
}

#swal2-title {
  color: white;
}