:root {
  --brand: #ea5455;
  --main: #161e2e;
  --secondary: #252f3f;
  --interaction: #65696f;

  color: white;
}

body {
  margin: 0px;
  font-family: 'Inter', sans-serif;
  background-color: var(--main)
}

// #root {
//   background-color: var(--main);
//   min-height: 92vh;
//   width: -webkit-fill-available;
// }

#__next {
  display: flex;
  flex-wrap: wrap;
}

#swal2-title, .swal2-html-container {
  color: white !important;
}
.swal2-modal {
  background-color: var(--secondary) !important;
}
.swal2-popup.swal2-toast {
  background: var(--secondary) !important;
  box-shadow: 0 0 0.625em var(--secondary) !important;
}

// tagify

.tagify {
  color: white;
  background-color: var(--secondary);
  text-align: left;
  border: 2px var(--secondary) solid !important;

  --tag-bg: var(--main) !important;
  --tag-hover: var(--secondary) !important;
  --tag-text-color: white !important;

  box-shadow: 0 0 10px rgba(0,0,0,0.325);
}

.tagify__input {
  user-select: text;
  -webkit-user-modify: read-write;

  &::before {
    color: white !important;
  }
}

.tagify__tag > div > [contenteditable] {
  user-select: text;
  -webkit-user-modify: read-write;
}

.tagify__dropdown__wrapper {
  background: var(--main) !important;
  border: 1px solid var(--secondary) !important;
  overflow-y: scroll !important;
}

.tagify__dropdown__item--active {
  background: var(--secondary) !important;
}

/* custom scrollbar */
::-webkit-scrollbar{
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb{
  background: #B3AFB3 !important;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: #B3AFB3;
}
::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

grammarly-extension {
  display: none; // LLLLL
}