.button {
  padding: 5px 13px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  user-select: none;
  color: white;

  &.special {
    background-color: var(--interaction);
  }

  &:not(.special) {
    @media (max-width: 400px) {
      display: none;
    }
  }

  transition: 0.3s;
  &:hover {
    transition: 0.2s;
    filter: brightness(80%);
  }
}