<!DOCTYPE html>
<html>
  <head>
    <title>Logout</title>
    <%- include('googleanalytics') %>

    <link rel="stylesheet" href="/static/css/base.css" />
    </head>
  
  <body>
  
    <%- include('sidebar') %>
    <div id="mainLoginPage">
    <h1>Logged out successfully</h1>
    <button onclick="window.location.replace('/')">Log back in</button>
  </div>
  </body>
</html>