<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header id="header">
  <div id="snackbar">MESSAGE</div>
  <div class="showSidebar"></div>
  <% if(locals.guild) { %> 
  <p><%= guild.n %><%- premium ? '<img src="https://censor.bot/premium.png">' : '' %></p>
  <% } else { %>
    <p>Censor Bot</p>
    <% } %>
</header>

<nav id="sidebar">
  <div class="close"></div>
<% if(locals.noSidebar) {  %>
<p>Please login</p>

 <% } else { %>
  <div id="top">
  <button id="server" onclick="window.location = '/'">Servers</button>
  <button id="premium" onclick="window.location = '/premium'">Premium</button>
  </div>
 <div id="bottom">
   <% if(isAdmin) { %>
  <button id="Admin" onclick="window.location = '/admin'">Admin</button>
   <% } %>
  <button id="logout" onclick="window.location = '/auth/logout'">Logout</button>

   <% } %>
</div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script>
  $('.close').on('click', function() {
    $(this).parent().removeClass('show')
    $('.showSidebar').removeClass('hide')
  })
  $('.showSidebar').on('click', function() {
    $('#sidebar').addClass('show');
    $(this).addClass('hide')
  })


  function showToast(text) {
    $('#snackbar').text(text)
    $('#snackbar').addClass('show')

    setTimeout(function() {
      $('#snackbar').removeClass('show')
    }, 5000)
  }
</script>