.setting {
    border: solid beige 1px;
    width: fit-content;
    text-align: center;
    padding: 5px;
    float: left;
}

.checksWrap {
    float: left;
}

.checks {
    border: beige 1px dotted;
    padding: 3px;
}

.name {
    color: white;
    font-weight: bold;
}