.guildFormatted, .guildImage {
  width: 100px;
  height: 100px;
  background-color: #36393f;
  border-radius: 50%;
  -webkit-user-drag: none;
  user-select: none;
}

// .guildFormatted {
//   margin: auto;
//   font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
//   font-size: 2rem;
//   color: white;
//   padding-top: 19%;
//   height: 67px;
//   font-weight: 100;
//   margin-bottom: 23px;
// }