{
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "extends": [
    "standard-with-typescript",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true
  },
  "plugins": ["react"],
  "rules": {
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/no-for-in-array": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-dynamic-delete": "off",
    "no-void": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-unnecessary-type-assertion": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-invalid-void-type": "off"
  }
}