BOT_TOKEN=DISCORD BOT CLIENT TOKEN
OAUTH_TOKEN=DISCORD APPLICATION SECRET
OAUTH_MYSECRET=SOMETHING RANDOM

DBL_TOKEN=none/TOP.GG TOKEN

DB_HOST=DATABASE.IP
DB_USERNAME=DATABASE USERNAME
DB_PASSWORD=DATABASE PASSWORD

ID=BOT ID

# CUSTOM BOT SETTINGS

CUSTOM=true/false
ALLOWED_GUILDS=list,of,guild,ids
LOCK_COMMANDS=true/false
CUSTOM_STATUS=TYPE,message

# WEBHOOKS

WH_GUILDS=id,token
WH_SWEARS=id,token
WH_COMMANDS=id,token