#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(100, 1fr);
}

.guild {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "icon name";
  background-color: var(--bar);
  border-radius: 3%;
  margin: 1rem;
  padding: 1rem;
  height: fit-content;
  min-height: 6rem;
  align-items: center;
  box-shadow: 4px 6px rgb(20 22 23);
  transition: 0.1s;
}

.guild:hover {
  transition: 0.5s;
  opacity: 0.5;
}

.icon {
  grid-area: icon;
  border-radius: 50%;
  width: 5rem;
}

.name {
  grid-area: name;
  text-align: center;
  position: relative;
  font-size: 1.25rem;
}

/* @media (min-width: 981px) and (max-width: 1480px) {
  .guild {
    width: 26%;
  }
}

@media (max-width: 700px) {
  .guild {
    width: 43%;
  }
  .name {
    top: unset;
    font-size: 4vw;
  }
}

@media (max-width: 600px) {
  .guild {
    min-width: 80%;
    width: fit-content;
  }
} */