:root {
  --main: #e5e5e5;
  --mainalt: #bab3b3;
  --secondary: #ea5455;
  --different: #decdc3;
  --topbar: #242e3b;
  --topbaralt: #1a212b;
  --background: #2d4059;
  --gold: #c2973a;

  --duration: 0.4s
}

::placeholder {
  color: var(--mainalt)
}

h1.important {
  color: var(--secondary);
}

[hidden] {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  margin: 0px;
  color: var(--different);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

#root {
  position: relative;
  top: 50px;
  z-index: 1;
}

nav {
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: var(--topbar);
  position: fixed;
  z-index: 3;
  border-bottom: 2px solid var(--background);
}

nav > h3 {
  width: fit-content;
  display: inline-block;
  cursor: pointer;
}

nav > span {
  float: right;
  position: absolute;
  right: 0;
}

nav > span > a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
nav > span > a > div {
  padding: 12px 10px 12px 10px;
  color: var(--different);
  text-align: center;
}
#login[loggedin] {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, var(--topbar) 50%, var(--secondary) 50%);
  transition: background-position 1s;
}

nav > span > a:hover {
  transition: 0.2s;
  background-color: var(--topbaralt);
}

#login[loggedin]:hover {
  background-position: 0 -100%;
}

nav > * {
  margin: 4px 20px 25px 10px;
}
nav > h3 {
  margin-top: 15px
}

.button {
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-color: var(--topbar);
  color: var(--main);
  border-radius: 5px;
  cursor: pointer;
}

.button[disabled] {
  opacity: 0.6;
  cursor: default;
}

.button:active {
  opacity: 0.5;
}

.button:not([disabled]):not([selected]):hover {
  transition: 0.2s;
  background-color: var(--topbaralt);
}

.button[special] {
  background-color: var(--main);
  color: var(--background);
}
.button[special]:hover {
  transition: 0.2s;
  background-color: var(--mainalt) !important;
}

.button[unselected] {
  opacity: 1;
}

.button[selected] {
  opacity: 0.6 !important;
}

#root {
  transition: 0.5s;
}

#root.loading {
  transition: 0.5s;
  opacity: 0
}

small {
  font-size: 0.6em
}

@keyframes spin {
  1% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

#loader {
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 100%;
  width: 100%;
  z-index: 10;
  margin: 0;
  top: 0;
}

#loader > center {
  position: relative;
  top: 20%;
}

#loader > center > img {
  width: 200px;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/** inputs **/

input, select {
  background-color: var(--topbaralt);
  border: 2px var(--topbar) solid;
  outline: unset;
  color: var(--mainalt);
  padding: 10px;
  -webkit-appearance: none;
}

input[type="number"] {
  width: fit-content;
}

.tagify {
  color: var(--mainalt);
  background-color: var(--topbaralt);
  text-align: left;
  border: 2px var(--topbaralt) solid !important;

  --tag-bg: var(--topbar) !important;
  --tag-hover: var(--topbaralt) !important;
  --tag-text-color: var(--mainalt) !important;
}

.tagify__input::before {
  color: var(--main) !important;
}

.tagify__dropdown__wrapper {
  background: var(--topbar) !important;
  border: 1px solid var(--topbaralt) !important;
  overflow-y: scroll !important;
}

.tagify__dropdown__item--active {
  background: var(--topbaralt) !important;
}

.checker {
  display: inline-block;
  font-size: 2em;
  height: 34px;
  width: 73.75px;
  box-sizing: content-box;
  padding: 0.15em;
  border-radius: 0.25em;
  transition: transform var(--duration) ease;
  cursor: pointer;
  margin: auto;
  background-color: var(--topbaralt);
  text-align: left !important;
}

.checkmark {
  width: 34px;
  height: 34px;
  transition: transform var(--duration) ease;
  transform: translateX(-0.4em);
  z-index: 5;
}

.checkmark svg {
  display: block;
  background: var(--background);
  transform: translateX(0.4em);
  border-radius: 0.15em;
  transition: background-color var(--duration) ease, transform calc(var(--duration) * 1.5) ease;
}
.checkmark svg path {
  stroke-dasharray: 90 90;
  stroke-dashoffset: 90;
  transition: stroke-dashoffset calc(var(--duration) / 3) linear calc(var(--duration) / 3);
}



.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  visibility: hidden;
}
.checkbox:checked ~ .checkmark {
  transform: translate(52px);
}
.checkbox:checked ~ .checkmark svg {
  background: #77c44c;
  transform: translate(-0.4em);
}

.checkbox.premium:checked ~ .checkmark svg {
  background: var(--gold) !important;
}

.checkbox:checked ~ .checkmark svg path {
  stroke-dashoffset: 0;
}

.checker.checker:active {
  transition-duration: calc(var(--duration) / 2);
}
.checker.checker:active .check-bg::before {
  transform: translateY(0) scale(0.8);
  opacity: 0.2;
}