.tagify {
  display: inline-flex;
  color: var(--text);
  --tag-bg: var(--text)
}

.tagify__input {
  margin-right: 10px;
}

.tagify__input:focus {
  margin-right: 48px;
}

.tagify__input::before {
  color: var(--text)
}

.tagify__input:empty::before {
  transform: translateX(-37px);
}

input, select {
  background-color: var(--bar);
  padding: 0.4rem;
  color: var(--text);
  border: 2px var(--bar) dotted;
}

select {
  margin-top: 12px
}

#settings button {
  font-size: 1rem;
  padding: 0.5rem 2px 0.5rem 2px;
  border-radius: 0%;
  background-color: var(--bar);
  color: var(--text)
}

input[type=checkbox] {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: var(--bar);
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 var(--text);
  cursor: pointer;
  transition: 0.2s;
  top: 12px;
}

input[type=checkbox]:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

input[type=checkbox]:checked {
  box-shadow: inset 20px 0 0 0 var(--login);
}

input[type=checkbox]:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

#save {
  bottom: 8px;
  position: fixed;
  width: 80%;
  height: 6vh;
  left: 10%;
  border-radius: 8px !important;
  background-color: var(--login) !important;
  color: black !important;
  z-index: 10;
}

#save:disabled {
  background-color: var(--text) !important;
}

#save:not(:disabled) {
  cursor: pointer;
}

input::placeholder {
  color: var(--text)
}