@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#premium > div {
  background-color: var(--topbar);
  margin: 1vw;
  height: 265px;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.325);
  transition: 0.3s;
  font-family: 'Roboto', sans-serif;
  border: 1px #bab3b326 solid;
}

#premium > div:hover {
  transform: translateY(-10px);
}

#premium > div > ul {
  height: 55%;
  margin: 0px 2vw;
}

#premium {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  margin: 0px 15vw;
}
#premium > div > ul {
  text-align: left;
}

#perks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
  padding: 0px 10vw;
}

#perks > div, #howto > ul {
  background-color: var(--topbar);
  border-radius: 5px;
  margin: 5px;
  padding: 0px 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.325);
  transition: 0.1s;
  border: 1px #ea545526 solid;
}

#perks > div > h3 {
  color: var(--secondary);
}

#perks > div ul {
  text-align: left;
}

#premium > div:hover, #perks > div:hover {
  transition: 0.5s;
  cursor: default;
}

#howto {
  padding: 0px 10vw;
}

#howto > ul {
  text-align: left;
  padding: 10px 30px;
}

@media (max-width: 750px) {
  #premium {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  #premium > div {
    height: fit-content;
  }

  #perks {
    grid-template-columns: repeat(1, 1fr);
  }

  #premium > div a {
    display: inline-block;
    margin-top: 12px;
  }
}

#root {
  padding-bottom: 50px;
}