.ticket {
  display: grid;
  width: 90%;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "text text text yes no test";

  border: 1px black solid;
}

.text {
  -webkit-user-select: none;
  grid-area: text;
  cursor: pointer;
  transition: 0.5s;
  margin: 0;
  padding: 20px;
}

.text:active {
  transition: 0s;
  background-color: gray;
}

.yes {
  grid-area: yes;
  border-radius: 0 !important;
  background-color: green;
}

.no {
  grid-area: no;
  border-radius: 0 !important;
  background-color: red;
}

.test {
  grid-area: test;
  border-radius: 0 !important;
  background-color: yellow;
}