#admin {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1vw;
  margin: 0px 10vw;

  > div {
    text-align: center;
    background-color: var(--topbar);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.325);

    > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
      margin-bottom: 13px;
      grid-gap: 1rem;
      margin: 10px;

      > div {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
         "name"
         "info"
         "restart";
         border: 1px solid;

        &[state="0"] {
          border-color: red;
        }
        &[state="1"] {
          border-color: yellow;
        }
        &[state="2"] {
          border-color: lime;
        }

        p {
          grid-area: name;
        }
        div {
          grid-area: info
        }
        a {
          grid-area: restart;
          width: fit-content;
          height: fit-content;
          margin: auto;
        }

        &:last-child {
          grid-column: span 2;
          width: 44%;
          margin: auto;
        }
      }
    }
  }  
}

@media (max-width: 750px) {
  #root {
    margin: 0px
  }

  #admin {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}