#title {
  margin: 100px 0px 0px 80px;
  height: 85vh
}

#logo {
  right: -3vw;
  top: 8vh;
  position: fixed;
  width: 40vw;
  height: 40vw;
  z-index: -1;
  transform: rotate(-60deg);
  user-select: none;
  -webkit-user-drag: none;

  &.rollon {
    animation-name: rollon;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
  }
  &.rolloff {
    animation-duration: 2s;
    animation-name: rolloff;
    animation-fill-mode: forwards;
  }
  &.slowdown {
    transition: 0.5s;
  }
}

#info {
  width: 100%;
  height: -webkit-fill-available;
  background-color: var(--topbar);
  z-index: 2;
}

#scroll {
  position: fixed;
  bottom: 5px;
  left: 46vw;
}

#buttons > a {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 10px;
}

section {
  width: 80%;
  margin: auto;
  padding: 40px;
  display: inline-block;
  border-bottom: 3px solid var(--background);
  background-color: var(--topbar);

  > h1 {
    font-size: 50px;
    margin: 0px;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
  }

  > article {
    font-size: 22px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
}

@media (min-width: 900px) {
  section {
    > h1 {
      width: 35%;
    }
    &:nth-child(odd) {
      > h1 {
        float: left;
      }
      > article {
        text-align: right;
      }
    }
    &:nth-child(even) {
      > h1 {
        float: right;
      }
      > article {
        text-align: left;
      }
    }
  }
}

@media (max-width: 650px) {
  #logo {
    display: none;
  }
  #title {
    text-align: center!important;
    width: 70%!important;
    margin-left: 15%;
  }
  #scroll {
    left: 33vw;
  }
}

@media (min-width: 649px) {
  #title {
    text-align: left;
    width: 34%;

    > h1 {
      font-size: 4vw;
    }
    > h2 {
      font-size: 2vw;
    }
  }
  #buttons > a {
    font-size: 2vw;
  }
}


@keyframes rolloff {
  0% {
    right: -3vw;
  }
  1% {
    transform: rotate(-60deg);
  }
  99% {
    transform: rotate(-500deg);
  }
  100% {
    right: 120vw;
  }
}

@keyframes rollon {
  0% {
    right: 120vw;
  }
  1% {
    transform: rotate(-500deg);
  }
  99% {
    transform: rotate(-60deg);
  }
  100% {
    right: -3vw;
  }
}

@keyframes loadroll {
  0% {
    right: -3vw;
  }
  1% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(-500deg);
    right: 90vw;
  }
  99% {
    transform: rotate(-60deg);
  }
  100% {
    right: -3vw;
  }
}
