@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#premium-section {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  margin: 0px 20vw;

  > div {
    background-color: var(--topbar);
    margin: 1vw;
    height: 265px;
    border-radius: 8px;
    padding: 30px 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.325);
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    border: 1px #bab3b326 solid;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    grid-template-areas:
      "name"
      "price"
      "list"
      "join"
      "join";
    padding-top: 0px;
    margin-bottom: 20px;
    text-align: center;

    min-width: 220px;

    &:hover {
      transform: translateY(-10px);
    }

    > h3 {
      grid-area: name;
      height: fit-content;
      margin: 20px 0px 0px 0px;
    }

    > h4 {
      grid-area: price;
      height: fit-content;
      margin: 0px;
      margin-bottom: 2vh;
      color: var(--secondary);
    }

    > ul {
      grid-area: list;
      height: 4vw;
      text-align: left;
      margin: 0px 1vw 7vh 2vw;
    }

    > a {
      grid-area: join;
      width: fit-content;
      height: fit-content;
      margin: auto;
    }
  }
}

#perks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
  padding: 0px 10vw;

  > div {
    > ul {
      text-align: left;
    }
    > h3 {
      color: var(--secondary);
    }
  }
}

#perks > div, #howto > ul {
  background-color: var(--topbar);
  border-radius: 5px;
  margin: 5px;
  padding: 0px 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.325);
  transition: 0.1s;
  border: 1px #ea545526 solid;
}

#premium-section > div:hover, #perks > div:hover {
  transition: 0.5s;
  cursor: default;
}

#howto {
  padding: 0px 10vw;
  > ul {
    text-align: left;
    padding: 10px 30px;
  }
}

@media (max-width: 750px) {
  #premium-section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  #perks {
    grid-template-columns: repeat(1, 1fr);
  }
}

#root {
  padding-bottom: 50px;
}