.nav {
  top: 0px;
  transition: 0.1s;
  z-index: 1;
  height: 7vh;
  
  display: flex;
  justify-content: center;
  margin: auto;

  padding: 0px 10px;
  border-bottom: 1px solid var(--ccvars-colors-lighter-5);

  width: -webkit-fill-available;
  // position: fixed;

  
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    width: 1200px;

    @media (max-width: 1200px) {
      width: 80vw;
    }

    > .left > h3 {
      text-align: center;
      margin: 0px;
      font-weight: 800;
      font-size: 1.3rem;
      width: fit-content;
      display: inline-block;
      cursor: pointer;
    }
    
    > .left .right {
      max-width: 1200px;
    }
  }

  &.sticky {
    transition: 0.3s;
    opacity: 0.7;
    background-color: var(--secondary);

    > div {
      transition: 0.3s;
      width: 1100px;
    }
  }
}

.formatter {
  height: 80px;
}