<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About Censor Bot</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111382716-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-111382716-3');
    </script>
    <style>
        body {
            background-color: #2C2F33;
            position: absolute;
            text-align: center;
            font-family: "Source Sans Pro",sans-serif;
            padding: 10px 200px 0px 200px;
            color: white;
            font-size: 20px;
        }
        .content {
            text-align: left;
        }

      @media only screen and (max-width: 600px) {
        body {
          padding: 0;
        }
      }
    </style>
</head>
<body>
    <h1>
        About Censor Bot
    </h1>
    <br />
    <div class = "content"><ul>
        Censor Bot was created in late 2017, earlier 2018, originally as a private server bot for middle school friends,
        at the time known as JacobSux, it took on the role of random meme commands, but it also censored offensive slurs
        and at times normal curse words, because some of the friends parents saw their Discord. This filter was coded using RegExp, a common
        text recognition and manipulation library (which we still use today). I soon after learned that there were barely
        any bots which actually did this, having prebuilt filters were absolutely unheard-of, so I decided to make it public,
        I really wasn't expecting much, but it actually went really well! By March the bot had amassed 50 servers which was so much
        more than that I thought, and was growing at 2 servers a day average.
        <h2>Some notable milestones:</h2>
        <li>By July 2018, the bot had reached 200 servers, and at this point I decided to turn towards a more professional
        look, at which the name Censor Bot took its place. Removing JacobSux (Jacob was a friend of mine at the time).</li>
        <li>By August 2018, Censor Bot hit the top of google when searching "censor bot", which was a huge milestone.</li>
        <li>While I'm not proud of it, by October 2018, we moved from MySQL to .json file "database" storage for server configuration,
        obviously, this is not good at all, but it was what I was good at, and you know what, it worked.</li>
        <li>By mid November 2018, we entered what I like to call the filter file phase, this is where I began using
        a file to store the RegEx keys and bypasses of every curse, and we still use, and improve, this today. It is
        the absolute basis of what we consider a "curse", and as such, has been improved over the past two whole years,
        which is the reason why Censor Bot is what it is today. Also in November, the patreon for the bot was released.</li>
        <li>In December we hired our first translator, for polish (which has since been removed sadly), which marked a new age
        for demographics and our expansion. Also in December, our very first dashboard was released! While it wasn't great,
        it was something very very new for me, and was a huge learning experience, and I wouldn't have what I have today
        without going through that challenge.</li>
        <li>In January 2019, we moved domains from censorbot.ml (I don't own this anymore) to censorbot.jt3ch.net as a subdomain
        of my personal website (at the time before it moved company)
        Also in late January 2019 the bot moved from that JSON based storage to RethinkDB which serves its job very very well!</li>
        <li>In February 2019, the bot hit 1,500 servers, which when we began sharding our bot, as per Discords requirement!</li>
        -- Huge gap, while there were huge changes and milestones, most of it isn't independently super significant --
        <li>In late September 2019, the bot moved from RethinkDB, to it's current database, MongoDB, and is definitely here for the long run</li>
        <li>Late March 2020, the bot underwent a from scratch rewrite, the codebase we now maintain and will likely maintain for a long while,
        this was also when the bot hit 10,000 servers! We also moved from censorbot.jt3ch.net to censor.bot!</li>
        <li>Early July of 2020, Censor Bot turned corporal, and was now licensed and protected under my company J_T3CH
        which is a software based company with its own operations, which also allows me to use other developers in the company
        to actually work on the bot as well.</li><br /><br />

        And now for today, today Censor Bot is almost 20,000 servers, with a combined member count of over 1.7 million.
        It's removed over 4 MILLION pieces of censored content at a rate of nearly 15,000 a day on average.
        It is absolutely amazing how far this bot has gone, and I don't plan on stopping development any time soon.
          <br /><br />
        - JPBBerry, Project Lead / Head Developer for Censor Bot
          <br /><br />

        I'm also going to use this space to thank our absolutely amazing helper team (especially Limit) for
        getting the bot where it is today, the support they serve, as well as genuine feedback, care and
        work ethic have infinitely made the creation of this bot so much more easier on me, and it wouldn't be
        anywhere near where it is without the past, and the new helper team, as much as I can be a little pissy
        and sometimes rude, I love ya guys, keep up the good work.
        
    </ul></div>
</body>
</html>