<div id="bar">
  <div id="logo">
    <a href="/">
      <img src="/static/censorbot.png" alt="Censor Bot">
    </a>
  </div>
  <h2 id="title">Censor Bot</h2>
  <div id="user">
  </div>

  <script>
    api.register({
      login: (user) => {
        _.setRoot([
          _.elm('img', {
            id: 'avatar',
            title: user.tag,
            src: user.avatar
              ? `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}`
              : `https://cdn.discordapp.com/embed/avatars/${Number(user.tag.split('#')[1]) % 5}.png`,
            events: {
              click: () => {
                document.getElementById('userMenu').classList.toggle('hide')
              }
            }
          }),
          _.elm('div', {
            id: 'userMenu',
            classes: ['hide']
          }, [
            _.elm('a', {
              href: "#",
              innerText: 'Servers',
              events: {
                click: () => api.redirect('/servers')
              }
            }),
            _.elm('a', {
              href: "#",
              innerText: 'Premium',
              events: {
                click: () => api.redirect('/premium')
              }
            }),
            _.elm('a', {
              href: "#",
              innerText: 'Support',
              events: {
                click: () => api.redirect('/support')
              }
            }),
            ...(user.admin ?
              [
                _.elm('a', {
                  href: '#',
                  innerText: 'Admin',
                  events: {
                    click: () => api.redirect('/admin')
                  }
                })
              ]
            : []),
            _.elm('a', {
              href: "#",
              innerText: 'Logout',
              events: {
                click: () => api.logout()
              }
            }, {
              style: 'color: red'
            })
          ])
        ], 'user')
      },
      logout: () => {
        _.setRoot(_.elm('button', {
          id: 'login',
          innerText: 'Login',
          events: {
            click: () => api.login(),
            contextmenu: (elm, e) => {
              e.preventDefault()
              api.login(null, true)
            }
          }
        }), 'user')
      },
      logging: () => {
        _.setRoot(_.elm('div'), 'user')
      }
    })

    const hasUser = document.getElementById('hasUser')
    const hasntUser = document.getElementById('hasntUser')


    document.onload = () => {
      document.getElementById('root').focus()
      document.getElementById('root').onblur = () => {
        document.getElementById('root').focus()
      }
    }
    window.addEventListener('click', (event) => {
      if (!event.target.parentElement.matches('#user')) {
        document.getElementById('userMenu').classList.add('hide')
      }
    })
  </script>
</div>