<div id="bar">
  <div id="logo">
    <a href="/">
      <img src="/static/censorbot.png">
    </a>
  </div>
  <h2 id="title">Censor Bot</h2>
  <div id="user">
    <div id="hasUser" class="hidden">
      <img onclick="document.getElementById('userMenu').classList.toggle('hide')" title="loading" src="" id="avatar">
      <div id="userMenu" class="hide">
        <a href="javascript:api.redirect('/servers')">Servers</a>
        <a href="javascript:api.redirect('/premium')" onclick="">Premium</a>
        <a href="javascript:api.redirect('/support')" onclick="">Support Server</a>
        <a href="javascript:api.logout()" style="color: red">Logout</a>
      </div>
    </div>
    <div id="hasntUser" class="hidden">
      <button onclick="api.login()" id="login">Login</button>
    </div>
    <script>

      const hasUser = document.getElementById('hasUser')
      const hasntUser = document.getElementById('hasntUser')

      api.register({
        login: (user) => {
          const img = document.getElementById('avatar')
          img.title = user.tag
          img.src = user.avatar
            ? `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}`
            : `https://cdn.discordapp.com/embed/avatars/${Number(user.tag.split('#')[1]) % 5}.png`

          hasntUser.classList.add('hidden')
          hasUser.classList.remove('hidden')

          if (user.admin) {
            document.getElementById('userMenu').appendChild(
              _.elm('a', {
                href: "javascript:api.redirect('/admin')",
                innerText: 'Admin',
                id: 'admin'
              })
            )
          } else {
            if (document.getElementById('admin')) document.getElementById('userMenu').removeChild(document.getElementById('admin'))
          }
        },
        logout: () => {
          hasUser.classList.add('hidden')
          hasntUser.classList.remove('hidden')
        }
      })

      document.onload = () => {
        document.getElementById('root').focus()
        document.getElementById('root').onblur = () => {
          document.getElementById('root').focus()
        }
      }
      window.addEventListener('click', (event) => {
        if (!event.target.parentElement.parentElement.matches('#user')) {
          document.getElementById('userMenu').classList.add('hide')
        }
      })

      document.getElementById('login').oncontextmenu = (e) => {
        e.preventDefault()
        api.login(null, true)
      }
    </script>
  </div>
</div>