<!DOCTYPE html>
<html>
  <head>
    <title>Censor Bot</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/capi.js"></script>
    <%- include('header') %>
  </head>
  <body>
    <div id="box">
      <%- include('base.ejs') %>
      <div id="root">
        <center>
          <h1 style="color: #f8f8ff">The bot that keeps your server clean.</h1>
          <h2>So you don't have to</h2>
          <br />
          <button onclick="api.invite()">Invite Bot</button>
          <button id="customize" onclick="">Loading...</button>
          <div></div>
          <button onclick="api.redirect('/premium')" style="
            width: 426px;
            background-color: #45b6fe;
            color: #f8f8ff;
          ">Premium</button>
          <script>
            const customize = document.getElementById('customize')
            api.register({
              login: () => {
                customize.innerText = 'Customize'
                customize.onclick = () => api.redirect('/servers')
              },
              logout: () => {
                customize.innerText = 'Customize'
                customize.onclick = () => api.login('/servers')
              }
            })
          </script>
          <br /><br /><br />
          <h1 class="notice">Features</h1>
          <section>
            <h2>Base Filter</h2>
            <p>
              We build a filter FOR you! Our amazing team of helpers keeps up with the standards as they come, <br /> 
              we create the filter for you and you don't even need to do anything! Of course we have <br /> 
              customizability but if you really wanted to you can sit back and watch the magic happen.
            </p>
          </section>
          <section>
            <h2>Customization</h2>
            <p>
              We have an array of commands to allow you and your staff to customize how you want your server to <br /> 
					  	be. We allow you to add words to the filter and remove words from the filter for specifically <br /> 
					  	your server. We even have features to allow a certain role to be uncensored, and allow certain <br /> 
					  	channels to be uncensored.
            </p>
          </section>
          <section>
            <h2>Coverage</h2>
            <p>
              As we said above, we have amazing coverage of almost anyway you can get across a curse to your <br /> 
					  	clean chats! We cover messages, obviously, we cover edited message, emoji names (including reactions) and <br /> 
					  	nicknames! We even have a system in place to cover file attachment names! All of this brought <br /> 
					  	together to keep YOUR server clean!
            </p>
          </section>
          <br /><br />

          <h4>Let us know what you think! Leave a review <a href="/review" target="_blank">here</a></h4>
          <i>Please do not review with issues with the bot, first join the <a href="/support">support server</a> and ask for help!</i>
        </center>
      </div>
    </div>
  </body>
</html>