<!DOCTYPE html>
<html>
  <head>
    <%- include('header') %>
  </head>
  <body>
    <h1>You're being redirected...</h1>
    <i>If you're not redirected, click <a href="<%- url %>">here</a></i>

    <script>
      window.location.replace("<%- url %>" + window.location.search)
    </script>
  </body>
</html>