{
  "extends": ["standard-with-typescript", "../.eslintrc"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/no-for-in-array": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-dynamic-delete": "off",
    "no-void": "off"
  }
}