{
  "extends": [
    "standard-with-typescript",
    "../.eslintrc",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["src/api/**/*"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
