{
  "extends": ["standard-with-typescript", "../.eslintrc"],
  "overrides": [
    {
      "files": ["src/api/**/*"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}