.section {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  
  @media (max-width: 820px) {
    flex-direction: column;
  }

  > .second {
    margin-left: 20px
  }

  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}