.example {
  margin: 10px;

  img {
    width: 40vw;
    min-width: 340px;
    -webkit-user-drag: none;
    z-index: 0;
    box-shadow: 20px 20px 25px 0 rgb(17 17 17 / 50%);
    position: relative;
    // top: 3rem;
    border-radius: 4px;
    // cursor: pointer;
  }
  
  transition: 0.3s;
  // &:hover {
  //   transition: 0.2s; 
  //   transform: scale(1.2);
  //   img {
  //     box-shadow: 30px 30px 25px 0 rgb(17 17 17 / 50%);
  //   }
  // }

  > small {
    z-index: 1
  }
}