<!DOCTYPE html>
<html>
    <head>
        <meta property="og:title" content="Censor Bot Dashboard">
        <meta property="og:image" content="https://censor.bot/censorbot.png">
        <meta property="og:description" content="Change and customize Censor Bot for your server(s)!">
        <meta name="theme-color" content="#ff3d00">
    </head>
    <body>
        <script>
            window.location = "<%= link %>".replace(/amp;/g, '')
        </script>
    </body>
</html>