<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: #2C2F33;
                text-align: center;
                margin-top: 20%;
            }
            .txt {
                font-family: 'Oswald', sans-serif;
                font-size: 50px;
                margin-bottom: -30px;
            }
            .txt2 {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 30px;
            }
            button {
                color: #99AAB5;
                cursor: pointer;
                width: 6%;
                background-color: transparent;
                border: #7289DA 2px solid;
                border-radius: 6px;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
            }
            button:hover {
                background-color: #7289DA;
                color: black;
            }
        </style>
        <title>Error</title>
        <%- include('partials/googleanalytics') %>
    </head>
    <body>
        <h1 class="txt">You're not where you're supposed to be!</h1>
        <p class="txt2">Either this server doesn't exist or you're not allowed to change it's settings</p>
        <button onclick="window.location.replace('<%= base %>')">Back to the Home Page</button>
    </body>
</html>